@charset "UTF-8";
*{
   margin: 0;
   padding:0;
}

/* 화면 전체 렙 */
.wrapper{
   /*width: 100%;*/
   position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 700px;
    background: #FFFFFF;
    border: 1px solid #383434;
    box-shadow: 7px 7px 39px rgb(70, 76, 79, 57%);
    border-radius: 20px;
    
    margin: 0px;
    padding: 88px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
/*
div.wrap {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
*/

/* content 랩
.wrap{
   width : 400px;
   margin: auto;
}
 */
/* 페이지 제목 */
.subjecet{
   /*width: 100%;
    height: 60;
    background-color: white;
    text-align: center; 
    margin-top: 20px;
    */
    width: 466px;
    height: 110px;
    left: 450px;
    top: 100px;

    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-left: 23px;
    line-height: 19px;

    color: #383434;
    justify-content: space-evenly;
}
/*
.subjecet span{
    font-size: 50px;
    font-weight: 900;
    color: black;
}
*/

/* 아이디 영역 */

.id_name{
   
    color: #4d4d4d;
}
.id_input_box{
   /*
   border: 1px solid black;
   height:21px;
   padding: 10px 14px;   
   */
}
.id_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}
/* 중복아이디 존재하지 않는 경우*/
.id_input_re_1{
   color : green;
   display: none;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2{
   color: red;
   display: none;
}

/* 비밀번호 영역 */

.pw_name{
   color: #4d4d4d;
    
}
.pw_input_box{
   /*
   border: 1px solid black;
   height:21px;
   padding: 10px 14px;   
   */
}
.pw_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}

/* 비밀번호 확인 영역 */

.pwck_name{
   color: #4d4d4d;
}
.pwck_input_box{
   /*
   border: 1px solid black;
   height:21px;
   padding: 10px 14px;   
   */
}
.pwck_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}

/* 이름 영역 */

.user_name{
   color: #4d4d4d;
}
.user_input_box{
   /*
   border: 1px solid black;
   height:21px;
   padding: 10px 14px;   
   */
}
.user_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}

/* 메일 영역 */

.mail_name{
   color: #4d4d4d;
}
.mail_input_box{
   /*
   border: 1px solid black;
   height:21px;
   padding: 10px 14px;   
   */
}
.mail_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}

.mail_check_input_box{
   /*
   border: 1px solid black;
    height: 21px;
    padding: 10px 14px;
    width: 61%;
    float: left;
    */
}

#mail_check_input_box_false{
    background-color:#ebebe4;
}
 
#mail_check_input_box_true{
    background-color:white;
}
.mail_check_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}
.mail_check_button{
     border: 1px solid black;
    height: 30px;
    width: 30%;
    float: right;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    background-color: #ececf7;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}

/* 핸드폰번호 영역 */

.phone_name{
   color: #4d4d4d;
}
.phone_input_box{
   /*
   border: 1px solid black;
   height:21px;
   padding: 10px 14px;   
   */
}
.phone_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}

.phone_check_input_box{
   /*
   border: 1px solid black;
    height: 21px;
    padding: 10px 14px;
    width: 61%;
    float: left;
    */
}

#phone_check_input_box_false{
    background-color:#ebebe4;
}
 
#phone_check_input_box_true{
    background-color:white;
}
.phone_check_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}
.phone_check_button{
    border: 1px solid black;
    height: 30px;
    width: 30%;
    float: right;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    background-color: #ececf7;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}
.doubleChk{
   border: 1px solid black;
    height: 41px;
    width: 30%;
    float: right;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    background-color: #ececf7;
    cursor: pointer;
}

/* 주소 영역 */
.address_name{
   color: #4d4d4d;
}
.address_input_1{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}

.address_input_2_box{
   /*
   border: 1px solid black;
   height:21px;
   padding: 10px 14px;   
   */
}
.address_input_2{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}

.address_input_3_box{
   /*
   border: 1px solid black;
   height:21px;
   padding: 10px 14px;   
   */
}
.address_input_3{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}
/* 포인트 영역 */
.point{
   color: #4d4d4d;
}
.point_input{
   padding: 0px;
    margin-top: 8px;
    height: 20px;
    width: 136px;
    font-family: fantasy;
}

/* 버튼 부분 */
.modify_button{

    background-color: #FFFFFF;
    color: royalblue;
    border-radius: 8px;
    border: 1px solid #383434;
    margin-top: 44px;
    margin-left: 22px;
    width: 90px;
    cursor: pointer;
   
}

.home_button{
   background-color: #FFFFFF;
    color: royalblue;
    border-radius: 8px;
    border: 1px solid #383434;
    margin-top: 40px;
    margin-left: 14px;
    width: 90px;
    cursor: pointer;
}

.secession_button{
   background-color: #FFFFFF;
    color: royalblue;
    border-radius: 8px;
    border: 1px solid #383434;
    margin-left: 14px;
    margin-top: 40px;
    width: 90px;
    cursor: pointer;
}

/* float 속성 해제 */
.clearfix{
   clear: both;
}