@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}

/* 화면 전체 렙 */
.wrapper{
	/*width: 100%;*/
	position: absolute;

    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 670px;
    height: 750px;
    background: #FFFFFF;
    border: 1px solid #383434;
    box-shadow: 7px 7px 39px rgb(70, 76, 79, 57%);
    
    border-radius: 20px;
    
    margin: 0px;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
/* div.wrap {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
} */

/* content 랩
.wrap{
	width : 400px;
	margin: auto;
}
 */
/* 페이지 제목 */
.subjecet{
	/*width: 100%;
    height: 60;
    background-color: white;
    text-align: center; 
    margin-top: 20px;
    */
    width: 466px;
    height: 90px;
    left: 740px;
    top: 132px;

    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #383434;
    margin-left: 58px;
    justify-content: space-evenly;
}


/* 아이디 영역 */

.id_name{
	
    color: #4d4d4d;
}
.id_input_box{
	/*
	border: 1px solid black;
	height:21px;
	padding: 10px 14px;	
	*/
}
.id_input{
	padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 466px;
    height: 30px;
    color: blue;
}
/* 중복아이디 존재하지 않는 경우*/
.id_input_re_1{
	color : green;
	display: none;
	font-size: 10px;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2{
	color: red;
	display: none;
	font-size: 10px;
}

/* 비밀번호 영역 */

.pw_name{
	color: #4d4d4d;
    
}
.pw_input_box{
	/*
	border: 1px solid black;
	height:21px;
	padding: 10px 14px;	
	*/
}
.pw_input{
	padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 330px;
    height: 30px;
}
.pw_check_button{
	border: 1px solid black;
    height: 25px;
    width: 20%;
    float: right;
    line-height: 29px;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    background-color: #5c70ab24;
    cursor: pointer;
    margin-right: 32px;
    border-radius: 5px;
    font-family: math;
}

/* 비밀번호 확인 영역 */

.pwck_name{
	color: #4d4d4d;
}
.pwck_input_box{
	/*
	border: 1px solid black;
	height:21px;
	padding: 10px 14px;	
	*/
}
.pwck_input{
	padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 466px;
    height: 30px;
}

/* 이름 영역 */

.user_name{
	color: #4d4d4d;
}
.user_input_box{
	/*
	border: 1px solid black;
	height:21px;
	padding: 10px 14px;	
	*/
}
.user_input{
	padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 466px;
    height: 30px;
    color: blue;
}

/* 메일 영역 */

.mail_name{
	color: #4d4d4d;
}
.mail_input_box{
	/*
	border: 1px solid black;
	height:21px;
	padding: 10px 14px;	
	*/
}
.mail_input{
	padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 330px;
    height: 30px;
}

.mail_check_input_box{
	/*
	border: 1px solid black;
    height: 21px;
    padding: 10px 14px;
    width: 61%;
    float: left;
    */
}

#mail_check_input_box_false{
    background-color:#ebebe4;
}
 
#mail_check_input_box_true{
    background-color:white;
}
.mail_check_input{
	padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 466px;
    height: 30px;
    color: blue;
}
.mail_check_button{
     border: 1px solid black;
    height: 25px;
    width: 20%;
    float: right;
    line-height: 29px;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    background-color: #5c70ab24;
    cursor: pointer;
    margin-right: 32px;
    border-radius: 5px;
    font-family: math;
}
.correct{
    color : green;
    font-size: 10px;
}
.incorrect{
    color : red;
    font-size: 10px;
}

/* 핸드폰번호 영역 */

.phone_name{
	color: #4d4d4d;
}
.phone_input_box{
	/*
	border: 1px solid black;
	height:21px;
	padding: 10px 14px;	
	*/
}
.phone_input{
	padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 330px;
    height: 30px;
}

.phone_check_input_box{
	/*
	border: 1px solid black;
    height: 21px;
    padding: 10px 14px;
    width: 61%;
    float: left;
    */
}

#phone_check_input_box_false{
    background-color:#ebebe4;
}
 
#phone_check_input_box_true{
    background-color:white;
}
.phone_check_input{
	padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 466px;
    height: 30px;
    color: blue;
}
.phone_check_button{
   	border: 1px solid black;
    height: 25px;
    width: 20%;
    float: right;
    line-height: 29px;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    background-color: #5c70ab24;
    cursor: pointer;
    margin-right: 32px;
    border-radius: 5px;
    font-family: math;
}
.doubleChk{
	border: 1px solid black;
    height: 41px;
    width: 30%;
    float: right;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    background-color: #ececf7;
    cursor: pointer;
}
.correct{
    color : green;
    font-size: 10px;
}
.incorrect{
    color : red;
    font-size: 10px;
}

/* 주소 영역 */

.address_name{
	color: #4d4d4d;
}
.address_input_1_box{
	/*
	border: 1px solid black;
    height: 21px;
    padding: 10px 14px;
    width: 61%;
    float: left;	
    */
}
.address_input_1{
	padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 330px;
    height: 30px;	
}
.address_button{
    border: 1px solid black;
    height: 25px;
    width: 20%;
    float: right;
    line-height: 29px;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    background-color: #5c70ab24;
    cursor: pointer;
    margin-right: 32px;
    border-radius: 5px;
    font-family: math;
}

.address_input_2_box{
	/*
	border: 1px solid black;
	height:21px;
	padding: 10px 14px;	
	*/
}
.address_input_2{
	padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 466px;
    height: 30px;
}

.address_input_3_box{
	/*
	border: 1px solid black;
	height:21px;
	padding: 10px 14px;	
	*/
}
.address_input_3{
	padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 466px;
    height: 30px;
}

.box{
	margin-top: 17px;
    height: 113px;
    line-height: 25px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    text-align: center;
    font-family: monospace;
}

.toggle_pass{
	margin-left: 37px;
    border-color: currentColor;
    margin-bottom: 2px;
}
.toggle_pass1{
	margin-left: 51px;
    margin-bottom: 2px;
    border-color: currentColor;
}
.toggle_pass2{
	margin-left: 16px;
     border-color: currentColor;
}
.pwUpdate_button{
	margin-left: 137px;
    margin-top: 8px;
    font-family: math;
    border: 1px solid slategray;
    background-color: #5c70ab24;
    cursor: pointer;
    border-radius: 5px;
    width: 96px;
}
.cancle_button{
	border: 1px solid slategray;
    background-color: #5c70ab24;
    cursor: pointer;
    font-family: math;
    border-radius: 5px;
    width: 40px;
    margin-left: 3px;
}

/* 유효성 검사 문구 */
 
.final_id_ck{
    display: none;
    font-size: 12px;
}
.final_pw_ck{
    display: none;
    font-size: 12px;
}
.final_pwck_ck{
    display: none;
    font-size: 12px;
}
.final_name_ck{
    display: none;
    font-size: 12px;
}
.final_mail_ck{
    display: none;
    font-size: 12px;
}
.final_phone_ck{
    display: none;
    font-size: 12px;
}
.final_addr_ck{
    display: none;
    font-size: 12px;
}

/* 버튼 영역 */
.modify_button{

    background-color: #FFFFFF;
    color: royalblue;
    border-radius: 8px;
    border: 1px solid #383434;
    margin-top: 3px;
    margin-left: 128px;
    width: 90px;
    cursor: pointer;
	
}

.home_button{
	background-color: #FFFFFF;
    color: royalblue;
    border-radius: 8px;
    border: 1px solid #383434;
    margin-top: 19px;
    margin-left: 15px;
    width: 90px;
    cursor: pointer;
}

/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1{
        color : green;
        display : none;
        font-size: 10px; 
}
.pwck_input_re_2{
        color : red;
        display : none;  
        font-size: 10px;  
}    
/* float 속성 해제 */
.clearfix{
	clear: both;
}
