@charset "UTF-8";
*{
   margin: 0 auto;
   padding:0 auto;
}
a {
   text-decoration: none;
}
/* 화면 전체 렙 */
.wrapper {
   width: 100%;
}
/* content 랩 */
.wrap {
   margin: auto;
}
/* 홈페이지 메인 제품 목록  */
.content_area {
    width: calc(1900px - 270px);
    left: 269px;
    margin: 0;
    right: 0;
    min-width: 1291px;
    border-left: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
    position: absolute;
}
.title{
   margin-left: 80px;
}
.subjecet{
   height: 111px;
    line-height: 3;
    text-align: center;
    border: none;
    border-bottom: 1px solid #6f6b67b8;
    font-size: 24px;
}

.content_totalCount_section {
   margin-bottom: 12px;
}

.content_btn_section {
   margin-top: 20px;
   text-align: right;
}

.content_btn_section a {
   color: #fefeff;
   background-color: #365fdd;
   min-width: 125px;
   padding: 17px 25px;
   display: inline-block;
   height: 39px;
   font-size: 23px;
   font-weight: bold;
   text-align: center;
   margin-right: 14px;
   line-height: 39px;
}
  
.content_total_section {
   background-color: rgb(227, 237, 247);
}
.content_subject {
    height: 92px;
    line-height: 99px;
    background-color: #474146fa;
    margin-bottom: 10px;
    color: white;
    font-size: 38px;
    font-family: math;
    font-weight: bolder;
}
.myroom{
   margin-left: 360px;
    margin-top: 87px;
}

.id_name{
   color: black;
    font-size: 26px;
    font-family: 휴먼엑스포;
    margin-top: -24px;
}

.id_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 35px;
    margin-left: 170px;
    font-size: 22px;
}
/* 중복아이디 존재하지 않는 경우*/
.id_input_re_1{
   color : green;
   display: none;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2{
   color: red;
   display: none;
}

/* 비밀번호 영역 */

.pw_name{
   color: black;
   margin-top: 5px;
    font-size: 26px;
    font-family: 휴먼엑스포;
    
    
}
.pw_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
    margin-left: 144px;
    font-size: 22px;
    margin-top: 25px;
}

/* 이름 영역 */
.user_name{
   color: black;
   margin-top: 5px;
    font-size: 26px;
    font-family: 휴먼엑스포;
}
.user_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
    margin-left: 195px;
    font-size: 22px;
    margin-top: 25px;
}

/* 메일 영역 */
.mail_name{
   color: black;
   margin-top: 5px;
    font-size: 26px;
    font-family: 휴먼엑스포;
}
.mail_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
    margin-left: 168px;
    font-size: 22px;
    margin-top: 25px;
}

/* 핸드폰번호 영역 */

.phone_name{
   color: black;
   margin-top: 5px;
    font-size: 26px;
    font-family: 휴먼엑스포;
}
.phone_input_box{
   /*
   border: 1px solid black;
   height:21px;
   padding: 10px 14px;   
   */
}
.phone_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
    margin-left: 116px;
    font-size: 22px;
    margin-top: 25px;
}

.phone_check_input_box{
   /*
   border: 1px solid black;
    height: 21px;
    padding: 10px 14px;
    width: 61%;
    float: left;
    */
}

#phone_check_input_box_false{
    background-color:#ebebe4;
}
 
#phone_check_input_box_true{
    background-color:white;
}
.phone_check_input{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}
.phone_check_button{
    border: 1px solid black;
    height: 30px;
    width: 30%;
    float: right;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    background-color: #ececf7;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}
.doubleChk{
   border: 1px solid black;
    height: 41px;
    width: 30%;
    float: right;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    background-color: #ececf7;
    cursor: pointer;
}

/* 주소 영역 */
.address_name{
   color: black;
   margin-top: 5px;
    font-size: 26px;
    font-family: 휴먼엑스포;
}
.address_input_1{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
    margin-left: 194px;
    font-size: 22px;
    margin-top: 25px;
}

.address_input_2_box{
   /*
   border: 1px solid black;
   height:21px;
   padding: 10px 14px;   
   */
}
.address_input_2{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}

.address_input_3_box{
   /*
   border: 1px solid black;
   height:21px;
   padding: 10px 14px;   
   */
}
.address_input_3{
   padding: 0px;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 350px;
    height: 30px;
}
/* 포인트 영역 */
.point{
   color: black;
   margin-top: 5px;
    font-size: 26px;
    font-family: 휴먼엑스포;
}
.point_input{
   padding: 0px;
    margin-top: 33px;
    height: 20px;
    width: 115px;
    font-family: revert-layer;
    margin-left: 104px;
    text-align: center;
}

/* 버튼 부분 */
.modify_button{

    background-color: #FFFFFF;
    color: royalblue;
    border-radius: 8px;
    border: 1px solid #383434;
    margin-top: 55px;
    margin-left: 280px;
    width: 90px;
    cursor: pointer;
   
}

.home_button{
   background-color: #FFFFFF;
    color: royalblue;
    border-radius: 8px;
    border: 1px solid #383434;
    margin-top: 40px;
    margin-left: 14px;
    width: 90px;
    cursor: pointer;
}

.secession_button{
   background-color: #FFFFFF;
    color: royalblue;
    border-radius: 8px;
    border: 1px solid #383434;
    margin-left: 14px;
    margin-top: 40px;
    width: 90px;
    cursor: pointer;
}

/* float 속성 해제 */
.clearfix{
   clear: both;
}