@charset "UTF-8";
*{
	margin: 0 auto;
	padding: 0 auto;
}
#nav_section{
	width: 15%;
	float: left;
	height: 100%;
}
#main_div{
	float: right;
	width: 85%;
	background-color: #aedf9e;
}
#footer_section{
	float: right;
	width: 85%;
}